body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav-item a.active {
  border-bottom: 2px solid red;
}

.nav-link {
  text-decoration: none;
  color: black;
}
.navbar-brand {
  text-decoration: none;
  color: black;
}

a:hover {
  border-bottom: 1px solid;
}
